@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Orbitron:wght@500&family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Orbitron:wght@500&family=Short+Stack&family=Volkhov&display=swap');

:root{
    --Volkhov: 'Barlow Semi Condensed', sans-serif;
    --Orbitron: 'Orbitron', sans-serif;
    --ShortHand : 'Barlow Semi Condensed', sans-serif;
}

body{
    background-size: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    height: 100%;
    width: 100%;
    font-size: 20px;
    text-align: center;
}


.speech{
    font-family: var(--Volkhov);
}

.clock{
    font-family: var(--Orbitron);
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 0.5em;
}

.bg{
    cursor: pointer;
    font-family: var(--ShortHand);
}


